
# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Build
.medusa/
.medusa/*
dist
coverage

# ESLint cache
.eslintcache

# Mac
.DS_Store

# Env
.env
.env.*
!.env.example
